<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Welcome to STJ WEB Application</h1>
        <p class="lead">Please Login to Use the App... to sign up new account please contact admin!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
            <button class="btn btn-primary btn-info btn-lg me-2">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>